body
{
    background-color: #282e3a;
    font-family: lato;
}

h1
{
    color: #fff;
    text-align: center;
    font-size: 70px;
    letter-spacing: 10px;
}

#countdown
{
    width: 850px;
    margin: 10% auto;
}

#clock span
{
    float: left;
    text-align: center;
    font-size: 84px;
    color: #fff;
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 2.5%;
    font-weight: bold;
    background-color: #123456;
    border-radius: 20px;
}

#clock span:nth-child(1)
{
    background-color: #cc0202;
}

#clock span:nth-child(2)
{
    background-color: #0061c3;
}

#clock span:nth-child(3)
{
    background-color: #009811;
}

#clock span:nth-child(4)
{
    background-color: #c3dd00;
}

#units span
{
    float: left;
    width: 25%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: 50px 0;
}